.header {
    margin-top: 50px; 
    margin-bottom: 50px;
    display: flex;
  }
  
.header h1 {
    flex-grow: 1;
}

.header Button {
    margin-left: 10px;
}

.card{
    margin-top: 15px; 
}

.mybutton {
    margin-left: 80px;
    margin-right: 5px;
    margin-top: 30px; 
    margin-bottom: 0px
}

.my-modal {
    width: 60vw;
    max-width: 60vw;
}

.p-test {
    margin-bottom: 50px;
}

.closeButton{
    outline: none;
}

.form-test{
    margin-bottom: 50px;
}

.mybutton_device{
    margin-left: 0px;
    margin-right: 5px;
    margin-top: 40px; 
    margin-bottom: 0px
}

.modal-test{
    font-weight: bold;
}

.card-test{
    font-size: 130%;
    font-weight: bold;
}

.spinner{
    margin-top: 13px;
    margin-right: 50px;
    margin-bottom: 0px;
}
.pspinner{
    margin-top: 14px; 
    margin-right: 10px;
    font-size: 100%;
    margin-bottom: 0px;
}

.error{
    margin-top: 14px; 
    margin-right: 10px;
    font-size: 100%;
    margin-bottom: 0px;
    color: red;
}

.pay{
    margin-top: 14px; 
    margin-right: 80px;
    font-size: 100%;
    margin-bottom: 0px;
}